body{
    background-color: #0000;
    font-family: 'Source Serif Pro', serif;
    text-align:center;
    font-size: 18px;
}


.nav-link{
    font-weight: lighter;
}
.aboutus h1{
    text-align:center;
}
.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}

i {
  margin-right: 10px;
}

header{ 
    height: 650px;
    width: 100%;
    text-align: center;
    color: black;
    background-image:url("codingclass.jpg");
    background-size: cover;
}


header h1{
    font-size: 100px;
    text-shadow: 0 0 20px #fff;
}

.aboutus{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    
}

.results{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}
.button1 {padding: 10px 24px;
    background-color: #e7e7e7; color: black; /* Gray */ 
}

.getinvolved {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    /* adds padding on top and bottom*/
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 50px 0 80px;
    
    
}

.getinvolved h2{
    color: #79858C;
}

.options{
    padding: 30px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.getinvolved i{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
/*Team*/
.team{
    margin-top: 90px;
    margin-bottom: 80px;
    text-align: center;
}
.team img{
    width: 250px;
    height: 250px;
    /*Object fit will crop and center image based on width and height*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}

.partner{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;}

.contact .btn{
     border-radius: 0;
     width: 100%;
     font-size: 15px;
     margin-bottom: 50px;
}

footer { 
    padding: 50px;
  display:block;
  background-color:lightgray;
  color: black;
 
}


.ourGenerousPartners p{
    font-size: 50px;
}

.servicesheading {
    height: 600px;
    width: 100%;
    text-align: center;
    color: black;
    background-image:url("codingclasskids.jpg");
    background-size: cover;
}

.servicesheading{
    font-size: 100px;
    text-shadow: 0 0 20px #fff;
}
.aboutusservices {
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
    padding-bottom: 30px;
}

.aboutusservices i{
    font-size: 30px;
    padding: 10px 8px;
    
    /*change the color*/
    color: #fff;
    background-color: lightgray;
    
    /*resize contaner of icon*/
    width: 50px;
    height: 50px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutusservices span{
    width: 80px;
    display: inline-block; 
}

.give {
    height: 600px;
    width: 100%;
    text-align: center;
    color: black;
    background-image:url("donate.jpg");
    background-size: cover;
}

.give{
    font-size: 100px;
    text-shadow: 0 0 20px #fff;
}

.signupsheet {
    height: 600px;
    width: 100%;
    text-align: center;
    color: black;
    background-image:url("signup.jpeg");
    background-size: cover;
}

.signupsheet{
    font-size: 100px;
    text-shadow: 0 0 20px #fff;
}

.volunteer {
    height: 600px;
    width: 100%;
    text-align: center;
    color: black;
    background-image:url("volunteersheet.jpg");
    background-size: cover;
}

.volunteer{
    font-size: 100px;
    text-shadow: 0 0 20px #fff;
}

.learnmore {
    height: 600px;
    width: 100%;
    text-align: center;
    color: black;
    background-image:url("meeting.jpg");
    background-size: cover;
}

.learnmore{
    font-size: 100px;
    text-shadow: 0 0 20px #fff;
}

.partners{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
.partners img{
    width: 250px;
    height: 250px;
    /*Object fit will crop and center image based on width and height*/
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 30px;
}
